body{
    margin: 0;
    padding: 0;
    background-color: rgb(142, 131, 139);
    font-family: "Gowun Dodum", sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(96, 88, 94);
    margin: 0;
    position: relative;
    z-index: 10;
}


header h1{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Gowun Dodum", sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}


header button{
    background-color: rgb(96, 88, 94);
    color: white;
    border: 0;
    margin-top: 10px;
    font-family: "Gowun Dodum", sans-serif;
    opacity: 0.5;
    transform: opacity 0.3s ease;
    
}


header button:hover{
    opacity: 1;
    cursor: pointer;
}


header :nth-child(3){
    margin-left: auto;
}


.settingsLogo{
    margin-top: 10px;
    height: 40px;
}


.characterStatusBar{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 120, 126);
    display: flex;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.4s ease-in-out;

}

.characterStatusBar.isHidden{
    transform: translateY(calc(-100%));
}


.characterSpriteBox{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 255);
    border: 1px solid rgb(128, 120, 126);
    margin-left: 30px;
}

.playersName{
    margin: 0;
    padding: 0;
    margin-left: 30px;
    color: white;
    font-family: "Gowun Dodum", sans-serif;
}


.logoImage{
    margin-top: 10px;
    height: 50px;
}

.playerMainStatus{
    color: white;
    padding: 10px;
}

.playerMainStatus p{
    margin: 0;
    padding: 0;
}

.healthBar::-webkit-progress-bar{
    background-color: rgb(96, 88, 94);
    border-radius: 10px;
}

.healthBar::-webkit-progress-value{
    background-color: rgb(51, 244, 51);
    border-radius: 10px;
}


.healthBar{
    margin-top: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
}

.manaBar{
    margin-top: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
}


.manaBar::-webkit-progress-bar{
    background-color: rgb(96, 88, 94);
    border-radius: 10px;
}

.manaBar::-webkit-progress-value{
    background-color: rgb(39, 159, 245);
    border-radius: 10px;
}


.xpBar{
    margin-top: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
}


.xpBar::-webkit-progress-bar{
    background-color: rgb(96, 88, 94);
    border-radius: 10px;
}

.xpBar::-webkit-progress-value{
    background-color: rgb(39, 159, 245);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 20px );
    border-radius: 10px;
}


.statsBumper{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #555;
    transition: background-color 0.3s ease;
}

.statsBumper:hover{
    background-color: rgba(51, 51, 51, 0.8);
}


.statsBumper .arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    transform: rotate(45deg);
    transition: transform 0.4s ease;
}

.characterStatusBar.isHidden .statsBumper .arrow{
    transform: rotate(-135deg);
}


.modalOverlay{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.1);
}

.modalContent{
    position: relative;
    background-color: rgba(2, 35, 85, 0.4);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(2, 35, 85, 0.7);
    width: 80%;
}

.modalContent::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 5px solid rgb(4, 138, 183);
    border-top: 5px solid rgb(4, 138, 183);  
    top: 0;
    left: 0;
}


.modalContent::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-right: 5px solid rgb(4, 138, 183);
    border-bottom: 5px solid rgb(4, 138, 183);  
    bottom: 0;
    right: 0;

}

.modalHeader{
    justify-content: center;
    color: black;
    background-color: rgba(0,0,0,0);
    border: 1px solid  rgba(255,255,255,0.2);
    box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
}

.showChooseClassMessage{
    justify-content: center;
    width: auto;
    margin-left: 40px;
    color: white;

}

.showChooseClassMessage .glow{
    font-size: 28px;
}


.glow {
    font-size: 30px;  
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from 
    {
        text-shadow: 0 0 5px #fff;
    }
    to 
    {
        text-shadow: 0 0 5px #fff, 0 0 10px lightblue;
    }
}



.close{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0px;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
}


.close:hover {
  cursor: pointer;
}


.showingClasses{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 500px;

}


.classDetails{
    width: 23%;
    margin:0;
    padding: 0;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid  rgba(255,255,255,0.2);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    opacity: 0.7;
}

.classDetails:hover{
    opacity: 0.9;
}

.classDetails h3{
    margin-left: 10px;
    margin-right: 10px; 
    font-family: "Orbitron", sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}





.classDetails .glow{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px
}


.classSprite{
    height: 120px;
    margin-left: 70px;
}

.chooseClassButton{
    display: block;
    background: none;
    border: 1px solid  rgba(255,255,255,0.2);
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.chooseClassButton:hover{
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;


}

.chooseClassButton:active{
    border: 1px solid  rgba(232, 68, 247, 0.2);
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;

    
}


@keyframes glowButton {
    from 
    {
        text-shadow: 0 0 5px #e600ff;
    }
    to 
    {
        text-shadow: 0 0 5px #38004a, 0 0 10px rgb(116, 3, 176);
    }
}




.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.orbitronText {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
