body{
    margin: 0;
    padding: 0;
    background-color: rgb(142, 131, 139);
    font-family: "Gowun Dodum", sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(96, 88, 94);
    margin: 0;
    position: relative;
    z-index: 10;
}


header h1{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Gowun Dodum", sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}


header button{
    background-color: rgb(96, 88, 94);
    color: white;
    border: 0;
    margin-top: 10px;
    font-family: "Gowun Dodum", sans-serif;
    opacity: 0.5;
    transform: opacity 0.3s ease;
    
}


header button:hover{
    opacity: 1;
    cursor: pointer;
}


header :nth-child(3){
    margin-left: auto;
}


.settingsLogo{
    margin-top: 10px;
    height: 40px;
}


.characterStatusBar{
    margin: 0;
    padding: 0;
    background-color: rgb(128, 120, 126);
    display: flex;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.4s ease-in-out;

}

.characterStatusBar.isHidden{
    transform: translateY(calc(-100%));
}


.characterSpriteBox{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 255);
    border: 1px solid rgb(128, 120, 126);
    margin-left: 30px;
    margin-top:  15px;
}

.playersName{
    margin: 0;
    padding: 0;
    margin-left: 30px;
    color: white;
    font-family: "Gowun Dodum", sans-serif;
}


.logoImage{
    margin-top: 10px;
    height: 50px;
}

.playerMainStatus{
    color: white;
    padding: 10px;
}

.playerMainStatus p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.statsBumper{
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #555;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.statsBumper:hover{
    background-color: rgba(51, 51, 51, 0.7);
}


.statsBumper .arrow{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    transform: rotate(-135deg);
    transition: transform 0.4s ease;
}

.characterStatusBar.isHidden .statsBumper .arrow{
    transform: rotate(45deg);
}


.modalOverlay{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);

}

.modalContent{
    position: relative;
    background-color: rgba(2, 35, 85, 0.4);
    margin: 15% auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(2, 35, 85, 0.7);
    width: 80%;
}

.modalContent::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 5px solid rgb(4, 138, 183);
    border-top: 5px solid rgb(4, 138, 183);  
    top: 0;
    left: 0;
}


.modalContent::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-right: 5px solid rgb(4, 138, 183);
    border-bottom: 5px solid rgb(4, 138, 183);  
    bottom: 0;
    right: 0;

}

.modalHeader{
    justify-content: center;
    color: black;
    background-color: rgba(0,0,0,0);
    border: 1px solid  rgba(255,255,255,0.2);
    box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
}

.showChooseClassMessage{
    justify-content: center;
    width: auto;
    margin-left: 40px;
    color: white;

}

.showChooseClassMessage .glow{
    font-size: 28px;
}


.glow {
    font-size: 30px;  
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from 
    {
        text-shadow: 0 0 5px #fff;
    }
    to 
    {
        text-shadow: 0 0 5px #fff, 0 0 10px lightblue;
    }
}


.showingClasses{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 550px;

}


.classDetails{
    width: 23%;
    margin:0;
    padding: 0;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    border: 1px solid  rgba(255,255,255,0.2);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    opacity: 0.7;
}

.classDetails:hover{
    opacity: 0.9;
}

.classDetails h3{
    margin-left: 10px;
    margin-right: 10px; 
    font-family: "Orbitron", sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}





.classDetails .glow{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px
}


.classSprite{
    display: block;
    height: 120px;
    margin: auto;
}

.chooseClassButton{
    display: block;
    background: none;
    border: 1px solid  rgba(255,255,255,0.2);
    margin: auto;
    padding: 10px;
    color: white;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.chooseClassButton:hover{
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;


}

.chooseClassButton:active{
    border: 1px solid  rgba(232, 68, 247, 0.2);
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;

    
}


@keyframes glowButton {
    from 
    {
        text-shadow: 0 0 5px #e600ff;
    }
    to 
    {
        text-shadow: 0 0 5px #38004a, 0 0 10px rgb(116, 3, 176);
    }
}



.classDetails ul{
    list-style-type: none;
    color: white;   
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;
    padding: 0;
    text-align: center;
}


.statShowCase{
    text-align: center;
    color: white;
    -webkit-animation: glowButton 1s ease-in-out infinite alternate;
    -moz-animation: glowButton 1s ease-in-out infinite alternate;
    animation: glowButton 1s ease-in-out infinite alternate;

}


.modalContent hr{
    border-color:  rgba(255,255,255,0.3);
}


.classDetails hr{
    width: 90%;
    border-color:  rgba(255,255,255,0.3);   
}


#wipeOverlay{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    z-index: 11; 
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;   

}

#wipeOverlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 C 25 0, 75 20, 100 10' stroke='rgba(255,255,255,0.1)' stroke-width='1' fill='none'/%3E%3C/svg%3E"), radial-gradient(circle at center, rgba(120, 20, 180, 0.8), rgba(20, 10, 30, 0.9) 80%);
    transform: translateY(100%);
    animation: waveAnimation 5s infinite linear;
}

#wipeOverlay.isWiping::before{
    transform: translateY(0%);
    pointer-events: none;
    
}

#wipeOverlay.isWiping{
    opacity: 1;
    visibility: visible;
}



.messageContainer {
    display: flex;
    position: relative;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;    
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 15vh; 
    box-sizing: border-box; 
    z-index: 15;
}


.systemTitle {
    font-size: 1.5rem;
    color: #e0ffff; 
    margin: 0 0 40px 0; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    width: 50%;
    max-width: 400px;
    z-index: 12;
    animation: glowTypeWriter 1.5s ease-in-out infinite alternate;
}


#classChosenMessage {
    color: #e0ffff;
    font-size: 24px;
    animation: glowTypeWriter 1.5s ease-in-out infinite alternate;
    z-index: 12;
}


@keyframes glowTypeWriter {
    from 
    { 
        text-shadow: 0 0 5px #e0ffff, 0 0 10px #e0ffff, 0 0 15px #00ffff; 
    }
    to 
    { 
        text-shadow: 0 0 10px #e0ffff, 0 0 20px #00ffff, 0 0 25px #00ffff; 
    }
}



@keyframes waveAnimation {
    0% 
    {
        background-position: 0 0;
    }
    100% 
    {
        background-position: 100px 0; 
    }
}



.continueSystemButton{
    font-size: 20px;
    background: rgba(59, 1, 117, 0.5);
    border: 1px solid #b0f5f5;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    position: relative;
    margin-top: 40px;
    padding: 15px 35px;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    pointer-events: auto;
    opacity: 0;

}



.continueSystemButton::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 220, 255, 0.5);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}



.continueSystemButton.isClicked::after{
    transform: translate(-50%, -50%) scale(50);
    opacity: 0;
}


#wipeOverlay.isHiding {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.statsOverlay{
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 6%;
    left: 0;
    width: 100%;
    height: 90%;
    pointer-events: auto;
    z-index: 16;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.statsOverlay header{
    height: 10%;
    width: 90%;
    background-image: linear-gradient(to right, rgba(126, 34, 206), rgb(162, 68, 245), rgb(126, 34, 206));
    clip-path: polygon(50% 0%, 100% 0, 100% 53%, 73% 53%, 58% 100%, 39% 100%, 24% 53%, 0 53%, 0 0);
    flex-shrink: 0;
}

.statsOverlay footer{
    height: 10%;
    width: 90%;
    background-image: linear-gradient(to right, rgb(126, 34, 206), rgb(162, 68, 245), rgb(126, 34, 206));
    clip-path: polygon(0% 47%, 24% 47%, 39% 0%, 58% 0%, 73% 47%, 100% 47%, 100% 100%, 0% 100%);
    flex-shrink: 0;
}



.statsContent{
    margin: 0;
    padding: 0;
    margin-top: -100px;
    margin-bottom: -100px;
    width: 85%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%236200ff' fill-opacity='0.54' opacity='0.2' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E")
    rgb(50, 5, 87);
    animation: moveCircuits 25s infinite linear ;
}



@keyframes moveCircuits {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -304px -304px; 
    }
}

.statsContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.statsContent h1{
    font-family: "Gowun Dodum", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    padding-top: 70px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;  
}


.statsContent hr{
    border-color: rgba(255, 255, 255, 0.5);
    width: 80%;
}



.wrapper{
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;  
}


.leftColumn{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    display: inline-block;
    text-align: left;
}

.rightColumn{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-right: 150px;
}

.rightColumn .statRow:not(:first-child){
    margin-top: 39px;
}



.showStatPoints{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    margin-right: 30px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.showClassOnStatScreen{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.statRow {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.statLabel {
    width: 100px;   
    text-align: right;
    margin: 0;
    margin-right: 10px;
    padding-top: 0;
}

.statValue {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    min-width: 120px; 
    display: inline-block;
        
}


.progressBarStats{
    margin-top: 22px;
    width: 200px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;   
    position: relative; 
    display: flex;
    align-items: center;

}

.progressBarStatsValue{
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 0%;
    border-radius: 5px;
    background-color: #87cefa;
    box-shadow: 0 0 8px 2px rgba(135, 206, 250, 0.7);
    transition: width 0.5s ease-in-out;
}



.statBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.statBlock .statValue{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-right: 65px;
    min-width: 0;
}


.close{
    font-size: 40px;
    color: white;
    z-index: 20;
    top: 10%;
    right: 9%;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7); 
    cursor: pointer;
    line-height: 1;   
    transition: color 0.2s;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 60px;
}

.close:hover{
    color:rgb(108, 137, 254);
    border: 1px solid rgba(108, 137, 254, 0.5);
}



.playerMainStatus .progressBarStats{
    margin-top: 0;
    width: 160px;
    margin-right: 0;
    margin-bottom: 5px;
}

.playerMainStatus .healthValueMainScreen{
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: #00ff51;
    box-shadow: 0 0 8px 2px rgba(135, 206, 250, 0.7);
    transition: width 0.5s ease-in-out;
}

.playerMainStatus .CreativityValueMainScreen{
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: #8b27f6;
    box-shadow: 0 0 8px 2px rgb(191, 108, 236);
    transition: width 0.5s ease-in-out;
}

.playerMainStatus .xpValueMainScreen{
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: #00f2ff;
    box-shadow: 0 0 8px 2px rgba(135, 206, 250, 0.7);
    transition: width 0.5s ease-in-out;
}

.playerMainStatus .statValue{
    display: inline-block;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    min-width: 10px;
    margin: 0;
    position: relative;
    bottom: 2px;
}


.playerMainStatus .statBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.characterSprite{
    height: 150px;
}


.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.orbitronText {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
